    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./../../../../../assets/img/shop01.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./../../../../../assets/img/shop03.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Accessories<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="./../../../../../assets/img/shop02.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Cameras<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

<div class="container new-pro-list">
    <span class="new-pro-text">New Produnts</span>
    <div class="cardss mt-4">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="../../../../../assets/img/product01.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">Desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card h-100">
                <img src="../../../../../assets/img/product02.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card h-100">
                <img src="../../../../../assets/img/product03.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card h-100">
                <img src="../../../../../assets/img/product04.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    
            <div class="col">
                <div class="card h-100">
                  <img src="../../../../../assets/img/product05.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="col" *ngIf="prodViewIndex == 1">
                <div class="card h-100">
                  <img src="../../../../../assets/img/product06.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="col" *ngIf="prodViewIndex == 1">
                <div class="card h-100">
                  <img src="../../../../../assets/img/product07.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="col" *ngIf="prodViewIndex == 1">
                <div class="card h-100">
                  <img src="../../../../../assets/img/product08.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="col" *ngIf="prodViewIndex == 1">
                <div class="card h-100">
                  <img src="../../../../../assets/img/product09.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-column prod-details">
                        <span class="pro-cate">desc</span>
                        <!-- <span class="pro-name">Products Name</span> -->
                        <span>$500</span>
                    </div>
                    <div class="add-to-cart mt-3 text-white p-3">
                        <div class="d-flex justify-content-center cart">
                            <span>ADD TO CART</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3" *ngIf="prodViewIndex == 0">
            <div class="view-more text-center pt-2" (click)="viewMoreOrLess(1)">
                <span class="text-white">View More</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3" *ngIf="prodViewIndex == 1">
            <div class="view-more text-center pt-2" (click)="viewMoreOrLess(0)">
                <span class="text-white">View Less</span>
            </div>
        </div>
    </div>
</div>



<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

