.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
    margin-left:45px;
  }

  .signup{
    border: 1px solid #d6d4d4;
    border-radius: 10px;
    background-color: #d6d4d4;
  }
  .admin-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 0;
  }
  